/* I designed For Mobile First Approach For Low code Css and first development  */


/* This Media query write for Tablets & laptop Which Min-width 576 px .In other word If device width bigger or equal than 576px  then it activate  */
@media (min-width: 576px) {

    /* Responsive css code for nav  */
    .nav-inner {
        width: 100%;
    }

    nav h1 {
        font-size: 30px;
    }

    nav ul {
        display: flex;
    }

    .nav-btn {
        display: block;
    }

    .nav-ham-icon {
        display: none;

    }

    /* banner responsiv css  */

    .banner {

        padding: 0px 20px 40px 20px;
        width: 100%;
        justify-content: center;



        background-position: center;

        background-repeat: no-repeat;
        background-size: cover;




    }

    .banner-img {
        background: url(../assets/hero-circle.png);

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 60px;
        position: relative;
        height: 280px;
        width: 280px;
        display: flex;
        justify-content: center;
        margin: 60px auto 40px;
    }

    .banner-img img {
        height: 90px;

    }

    .new-abs-div {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #00FF88;
        border-radius: 1000px;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 16px;
        box-shadow: 0 3px 27px 0px #00ff887c;
        color: var(--primary-bg);

    }
    .banner-h-p h1 {
    font-weight: 800;
    font-size: 60px;
    color: white;
    margin-bottom: 16px;
}


    /* podcast css responsibe  */
    #podcast {
        width: 100%;
        background-color: #1A0B2E;
        padding: 50px auto;

    }

    .podcast-inner-1 {

        border-bottom: 1px solid #412567;
        padding: 0 10% 0 10%;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .podcast-inner-1 h1 {
        font-size: 44px;





    }





    /* why chose container reponsibe css  */
    #why-chose h1 {
        font-size: 40px;

        margin-bottom: 32px;
    }

    #why-chose {
        padding: 80px 20px;
    }

    .PAQ {
        grid-area: PAQ;
    }

    .MF {
        grid-area: MF;
    }

    .EI {
        grid-area: EI;
    }

    .RR {
        grid-area: RR;
    }

    .GC {
        grid-area: GC;
    }

    .wc-container {
        display: grid;
        gap: 28px;


        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 'PAQ PAQ'
            'GC MF'
            'EI RR';
    }
    .wc-card {
    
    padding: 40px;
    
}
.PAQ{
 padding-top: 100px;
}
.wc-card img {
    max-width: 55px;
   max-height: 55px;
   margin: auto;
    margin-bottom: 16px;
}

    /* featured section reeponsibe  */

    #featured {
        width: 100%;
        padding: 80px 20px;


    }

    #featured h1 {
        font-size: 40px;
        font-weight: bold;

        margin: 0 0 40px 0;
    }

    .ifram-card-container {

        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin: 0px auto 0px auto;
    }

    .ifram-card iframe {

        margin: 0 0 24px 0;
    }

    .ifram-caption {
        padding: 0 24px 24px 24px;
    }

    .ifram-caption h3 {
        font-size: 24px;
        margin-bottom: 12px;

    }

    /* host -card responsibe  */
    #meet-host {
        margin: 90px auto 40px auto;

    }

    .mh-card {
        border-radius: 30px;
        padding: 24px;
        background-color: #250D44;
        display: flex;
        align-items: center;
        gap: 24px;
        text-align: left;

    }

    .host-icon {
        width: 200px;
        height: 200px;
    }

    #meet-host h1 {
        font-size: 40px;

        margin: 0px auto 40px auto;
    }

    .host-social-icon-container {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
        align-items: center;


    }

    footer {

        background-size: 100% 100%;


        padding: 80px 20px;
    }

    footer h1 {
        font-size: 70px;
        margin-bottom: 32px;
        margin-top: 0;
        color: white;
        font-weight: 800;

    }

    .footer-icon ul {


        gap: 40px;


    }

    .footer-icon {
        margin: 32px auto 32px auto;
        width: auto;

    }

}

/* This Media query write for Laptop and desktop  Which Min-width 576 px .In other word If device width bigger or equal than 992px  then it activate  */


@media (min-width: 992px) {


    /* nav responsive css  */


    nav h1 {
        font-size: 36px;
    }


    /* banner css responsive  */
    .banner {

        padding: 0px 20px 40px 20px;
        width: 100%;
        justify-content: center;



        background: url(../assets/hero-bg.png), #1A0B2E;

        background-repeat: repeat;
        background-size: contain;
        background-position: center;




    }


    .banner-img {
        background: url(../assets/hero-circle.png);

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        padding: 60px;
        position: relative;
        height: 350px;
        width: 350px;
        display: flex;
        justify-content: center;
        margin: 100px auto 40px;
    }

    .banner-img img {
        height: 120px;

    }

    .new-abs-div {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #00FF88;
        border-radius: 1000px;
        font-size: 16px;
        font-weight: 600;
        padding: 8px 16px;
        box-shadow: 0 3px 27px 0px #00ff887c;
        color: var(--primary-bg);

    }

    /* podcast css responsive  */

    .podcast-inner-1 h1 {
        font-size: 48px;

    }

    .podcast-inner-2 {
        margin: 40px auto 0px auto;
        max-width: 1200px;
        gap: 80px;
        grid-template-columns: repeat(4, 1fr);

    }

    /* why chose responsive  */
    #why-chose {
        padding: 120px 20px;
    }

    #why-chose h1 {
        font-size: 48px;

        margin-bottom: 40px;
    }

    .wc-container {
        display: grid;
        gap: 30px;
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 'PAQ MF MF'
            'PAQ GC GC'
            'EI EI RR';
    }

    /* featured section reeponsibe  */

    #featured {
        width: 100%;
        padding: 120px 20px;


    }

    #featured h1 {
        font-size: 40px;
        font-weight: bold;

        margin: 0 0 40px 0;
    }

    .ifram-card-container {

        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        max-width: 1200px;
        margin: 0px auto 0px auto;

    }


    /* host -card responsibe  */
    #meet-host {
        margin: 120px auto 0 auto;

    }

    #meet-host h1 {
        font-size: 48px;

        margin: 0px auto 40px auto;
    }


    /* footer-section  */
    footer {
        background: url('../assets/footer-bg.png'), #201144;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        background-position: center;
        text-align: center;
        width: 100%;
        padding: 100px 20px;
    }

    footer h1 {
        font-size: 76px;
        margin: 0;
        font-weight: 800;



    }