/* I designed For Mobile First Approach For Low code Css and first development  */


 /* This Media query write for Tablets & laptop Which Min-width 576 px .In other word If device width bigger or equal than 576px  then it activate  */
@media (min-width: 576px) {
  
}

/* This Media query write for Laptop and desktop  Which Min-width 576 px .In other word If device width bigger or equal than 992px  then it activate  */


@media (min-width: 992px) {
  
}