*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


        /* Variables  */
:root{
    --gradient-color:linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    --primary-bg:#1A0B2E;

    --yellow-color:#00FF88;
}

        /* Variables  end  */


        /* Shared Css  */

.inter{
    font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}
.p-first{
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.8;
}
.p-second{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.6;
}

 /* gradient Button css  */
.g-btn{

    border: none;
    background: var(--gradient-color);
    display: flex;
    gap:4px;
    padding: 12px 16px;
    border-radius: 1000px;
    font-weight: 600;
    color: white;
    font-size: 16px;
}

.color-heading{
    background: var(--gradient-color);
    color: transparent;
    background-clip: text;
   
}


        /* Shared Css end  */


                /* Main Css  */


    /* Nav css star  */
header{
    width: 100%;
   
    
}
nav{
    width: 100%;

    padding: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #10061d;
    border-bottom: 1px solid #412567;
}
.nav-inner{
    max-width: 1200px;
    margin: 0 auto 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 28px;
    font-weight: bold;
    color: white;
}

nav ul{
    display: none; /*hidden for mobile */
    justify-content: space-between ;
    align-items: center;
    gap: 32px ;
}
nav ul li{
    list-style: none;
}
nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.nav-btn{
    display: none;
}
.nav-ham-icon{
    
    height: 24px;
    width: 24px;

}



     /* nav css end  */

     /* banner css start  */
.banner{
    
    padding: 0px 20px 40px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    background: url(../assets/hero-bg.png),#1A0B2E;
    
    
   
   
    background-repeat: no-repeat;
    background-size: contain;
 
   background-position: 0 25% ;
   
    
}
.banner-img{
    background: url(../assets/hero-circle.png);
   
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px;
    position: relative;
     height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 40px  auto;
     
    
    
    
    
   
}
.banner-img img{
    height: 70px;
   
}

.banner-h-p{
    text-align: center;
}
 /* Chalange css part  */
.new-abs-div{
    position:absolute;
    top: 0;
    right: 0;
    background-color: #00FF88;
    border-radius: 1000px;
    font-size:16px ;
    font-weight: 600;
    padding: 8px 16px;
    box-shadow: 0 3px 27px 0px #00ff887c;
    color: var(--primary-bg) ;
    
}
.banner-h-p{
 margin: 0 auto 24px auto;
}
.banner-h-p h1{
    font-weight: 800;
    font-size: 40px;
    color: white;
    margin-bottom: 8px;
}
.banner-h-p p{
    font-size: 16px;
    color: white;
  
}
.banner-btn{
    display: flex;
    justify-content: center;
    gap:8px;
}
.banner-btn-right{
    border: 1px solid #00FF88;
    background: transparent;
    
    display: flex;
    gap:4px;
    padding: 12px 16px;
    border-radius: 1000px;
    font-weight: 600;
    color: var(--yellow-color);
    font-size: 16px;
}
     /* banner css end  */

     /* pokdcast css :start  */
#podcast{
    width: 100%;
    background-color: #10061d;
    padding: 40px 20px;
    text-align: center;
}
.podcast-inner-1{
    padding-bottom: 24px;
    border-bottom: 1px solid #412567;
}
.podcast-inner-1 h1{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}
.podcast-inner-1 p{
    margin-bottom: 16px;
    
}

.podcast-inner-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-top: 40px;
}


.podcast-card h1{
    text-align: center;
    font-size: 40px;
    color: #00FF88;
    font-weight:900;
    margin-bottom: 16px;
}
      /* pokdcast css :end  */


#why-chose{
    width: 100%;
    background-color: #361e5c;
    text-align: center;
    padding: 40px 20px;
}
#why-chose h1{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}
.wc-container{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1,1fr);
}
.wc-card{
    border-radius: 24px;
    padding: 24px;
    text-align: left;
    background-color: #412567;
}
.wc-card img{
    height: 60px;
    width: 60px;
    margin-bottom: 16px;
}
.wc-card h2{
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}

      /* Why chose end  */


      /* Featured section css start  */
#featured{
    width: 100%;
    padding: 40px 20px;
    background-color: var(--primary-bg);
    text-align: center;

}
#featured h1{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 0 0 24px 0;
}
.ifram-card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 16px;
      margin: 0px auto 0px auto;
      width: fit-content;
}
.ifram-card{
    border-radius: 30px;
    text-align: left;
    background-color:#250D44 ;
    max-width: 400px;
}
.ifram-card iframe{
    border-radius: 30px 30px 0 0;
    border: none;
    width: 100%;
    height: 225px;
    margin: 0 0 16px 0;
}
.ifram-caption{
    padding: 0 16px 16px 16px;
}
.ifram-caption h3{
    font-size: 20px ;
    font-weight: bold;
    margin-bottom: 8px ;
    color: white;
}
.ifram-len{
    display: flex;
    justify-content: start;
    gap: 6px;
    margin-top: 8px;
    align-items: center;
    color: var(--yellow-color);

}
.ifram-len img{
    width: 20px;
    height: 20px;
}
.ifram-len p{
    font-weight: 600;
    font-size: 16px;
    
}

/* host-section css under featured  */
#meet-host{
    margin: 60px auto 40px auto;
    text-align: center;
}
#meet-host h1{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin: 0px auto 24px auto;
}
.mh-card{
    border-radius: 30px ;
    padding: 24px;
    background-color: #250D44;
    max-width: 1200px;
    margin: 0 auto 0 auto;
     
                             
}
.host-icon{
    width: 150px;
    height: 150px;
}
.mh-card h5{
    font-size: 24px;
    font-weight: bold;
    margin: 0px auto 16px auto;
    color: white;
}
.host-social-icon-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin:16px auto 0 auto ;

}
.host-social-icon-container a{
    border: 1px solid #533C72 ;
    padding: 12px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}
.host-social-icon-container img{
    height: 17px;
    width: 17px;
}


/* host-section css under featured  */
   

       /* Featured section css start  */



                /* Main css end  */